spring:
  datasource:
    dbcp2:
      url: jdbc:mysql://mysql:3306/spring_tutorial?serverTimezone=GMT%2B8&characterEncoding=utf-8
      username: root
      password: 123456
      driver-class-name: com.mysql.jdbc.Driver
      initial-size: 5
      min-idle: 2
      max-total: 20
      max-wait-millis: 60000
      time-between-eviction-runs-millis: 60000
      min-evictable-idle-time-millis: 300000
      validation-query: SELECT 1 FROM DUAL
      test-while-idle: true
      test-on-borrow: false
    type: org.apache.commons.dbcp2.BasicDataSource

pagehelper:
  helperDialect: mysql
  reasonable: true
logging:
  level:
    root: debug
